<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<meta name="keywords" content="PCR primer specificity check, PCR 引物 特异性 验证 评估 检查 检测" />
	<meta name="description" content="验证PCR引物特异性" />
	<title>MFEprimer-2.0: A fast thermodynamics-based program for checking PCR primer specificity</title>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
	<script src="{{ url_for('static', filename='function.js')}}" type="text/JavaScript"></script>
	<link href="{{ url_for('static', filename='favicon.ico') }}" rel="Shortcut icon">
	<script type="text/javascript">
	    var _gaq = _gaq || [];
	    _gaq.push(['_setAccount', 'UA-4030556-21']);
	    _gaq.push(['_trackPageview']);

	    (function() {
	     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	     })();

	 </script>
     </head>

     <body>
	 <div id="wrap">

	     <!--header -->
	     <div id="header">		

		 <h1 id="logo-text"><a href="./">MFEprimer-2.0</a></h1>	
		 <p id="slogan">A fast thermodynamics-based program for checking PCR primer specificity</p>	    

		 <div id="header-links">
		     <p>
		     <a href="./">Single Mode</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		     <a href="{{url_for('batch')}}">Batch Mode </a> 
		     <br />
		     <a href="{{url_for('check_dimer')}}">Check Dimer</a>&nbsp;&nbsp;&nbsp;&nbsp;
		     <a href="{{url_for('virtual_electrophoresis')}}">Virtual Electrophoresis</a> 
		     </p>
		 </div>	    

	     </div>

	     <!-- content-wrap starts here -->
	     <div id="content-wrap">
		 <div id="main">		
		 {% if error %} 
		     <div class="section">
		         <p class=error><strong>Error: </strong>{{ error|safe }} </p>
		     </div>
		 {% endif %}
		 {% for message in get_flashed_messages() %}
		     <div class="flash">
			 {{message}}
		     </div>
	         {% endfor %} 
		 
                 {%block content %}{% endblock %}

		 </div>

		 <div id="sidebar">
		     <p class="sidemenu">		
			<a href="https://jinshuju.net/f/yYathF" target="_blank">Database requires</a><img src="{{ url_for('static', filename='new.jpg') }}" height="30" width="30" alt="new">
		     </p>   
		     <p class="sidemenu">		
		         <a href="https://github.com/quwubin/MFEprimer/zipball/master">Download</a> /
		         <a href="https://github.com/quwubin/MFEprimer/wiki/Manual" target="_blank">Manual</a>
		     </p>   
		     <p class="sidemenu">		
		         <a href="https://github.com/quwubin/MFEprimer/wiki/FAQ" target="_blank">FAQ</a>
		     </p>   
		     <p class="sidemenu">		
		         HowTo (<a href="http://www.dxy.cn/bbs/topic/21140529" target="_blank">中文</a>, <a href="https://github.com/quwubin/MFEprimer/wiki/HowTo" target="_blank">English</a>)
		     </p>   
		     <p class="sidemenu">		
		         <a href="https://github.com/quwubin/MFEprimer/wiki/iThank" target="_blank">Thanks</a>
		     </p>   

		     <h2>You may interest</h2>
		     <ul class="sidemenu">		
			<li><img src="{{ url_for('static', filename='new.jpg') }}" height="30" width="30" alt="new"><a href="http://biocompute.bmi.ac.cn/CZlab/mprimer/"><strong>MPRIMER</strong></a>: <label class="description"> A Reliable, Flexible and High-throughput Multiplex PCR Primer Design Software</label></li>
			 <li><a href="http://biocompute.bmi.ac.cn/CZlab/VizPrimer/"><strong>VizPrimer</strong></a>: <label class="description">A web server for visualized PCR primer design based on known gene structure</label></li>
			 <li><a href="http://biocompute.bmi.ac.cn/MPprimer/"><strong>MPprimer</strong></a>: <label class="description">A program for reliable multiplex PCR primer design</label></li>
			 <li><a href="http://biocompute.bmi.ac.cn/CelRNAi/"><strong>CelRNAi</strong></a>: <label class="description">Reliability analysis of the genome-wide <i>C. elegans</i> Ahringer RNAi feeding library</label></li>
			 <li><a href="http://ricewiki.big.ac.cn"><strong>RiceWiki</strong></a>: <label class="description">a community-curated resource of rice knowledge</label></li>
		     </ul>   


		     <h2>Publication</h2>
		     <ul class="sidemenu">
		       <li> <p class="description"><a href="http://quwubin.googlecode.com/files/Nucl.%20Acids%20Res.-2012-Qu-nar_gks552.pdf">Qu, W. <em>et al</em>. MFEprimer-2.0: A fast thermodynamics-based program for checking PCR primer specificity. <strong><em>Nucleic Acids Res.</em></strong> 2012; doi: 10.1093/nar/gks552.</a></p></li>
		       <li> <p class="description"><a href="http://quwubin.googlecode.com/files/QuWB_2009_MFEprimer_Bioinformatics.pdf">Qu, W. <em>et al</em>. MFEprimer: multiple factor evaluation of the specificity of PCR primers. <strong><em>Bioinformatics</strong></em>, 2009, 25(2): 276-278.</a></p></li>
		       <li><a href="http://scholar.google.com/scholar?cites=6306721499472082928">Papers citing MFEprimer </a></li>
		     </ul>   

		     <h2>Contact us</h2>
		     <ul class="sidemenu">		
			 <li>Wubin Qu <label class="description">(<a href="mailto:quwubin@gmail.com">Email</a> / <a href="http://quwubin.sinaapp.com/">Homepage</a>)</label></li>
			 <li><a href="mailto:zhangcg@bmi.ac.cn">Chenggang Zhang</a>
			 </li>
		     </ul>   

		 </div>

		 <!-- content-wrap ends here --> 
	     </div>

	     <!--footer starts here-->
	     <div id="footer">
		 <p>
		 &copy; 2010-{{g.year}}, 
		 <a href="mailto:quwubin@gmail.com">Wubin Qu</a> &amp; <a href="mailto:zhangcg@bmi.ac.cn">Chenggang Zhang</a> 
		 @ <a href="http://biocompute.bmi.ac.cn/CZlab/">CZlab</a> 
		 | Last updated @ {{g.date}}
		 </p>
	     </div>
	 </div>
     </body>
 </html>
